@font-face {
    font-family: HeroTitleFont;
    src: url(GreatVibes-Regular.ttf);
}
@font-face {
    font-family: navFont;
    src: url(Arizonia-Regular.ttf);
}
html
{
    scroll-behavior: smooth;
}
body
{
    height: 200vh;
    margin: 0;
    padding: 0;
    background-color: #262629;
}

.x
{
    z-index: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    position: absolute;
}
.x video
{
    width: 100%;
    align-self: center;
}
header
{
    background-size: cover;
    background-position-y: 100%;
    
    width: 100%;

}
header #top
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    
    backdrop-filter: blur(0px);
}
header #herotext
{

    width: 60%;
    display: flex;
    justify-content: center;
}
header #herotext h1
{
    user-select: none;
    margin-left: 10%;
    color: white;
    font-size: 90px;
    font-family: HeroTitleFont;
}
header #heroimage
{
    user-select: none;
    cursor: pointer;

    width: 40%;
    margin-right: 8%;
}
header #heroimage img
{
    width: 100%;
    transition-duration: 400ms;
}

header #heroimage img:hover
{
    margin-left: -9%;
    width: 120%;
}

nav
{
    width: 100%;
    background-color: #1A1A1C;
}

nav ul
{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}
nav li
{
    padding: 15px 0;
}
nav a
{
    text-decoration: none;
    padding: 15px 0;
    font-size: 40px;
    color: gray;
    font-family: navfont;

    transition: color 400ms, text-shadow 400ms;
}

nav a:hover
{
    color: white;
    text-shadow: white 0 0 12px;
}

.sound
{
    width: 5%;
    position: fixed;
    bottom: 0;
    background-color: black;
    margin: 15px 15px 110px 15px;
    border-radius: 100%;
    border: 2px solid   blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 400ms;
}
.sound img,.soundMute img
{
    padding: 12px;
    width: 70%;
    text-decoration: none;
    transition-duration: 400ms;
    cursor: pointer;
}

.sound:hover
{
    box-shadow: blue 0 0 12px;
    border-radius: 10px;
}
.soundMute
{
    width: 5%;
    position: fixed;
    bottom: 0;  
    background-color: black;
    margin: 15px 15px 110px 15px;
    border-radius: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 400ms;
}
.soundMute:hover
{
    box-shadow: red 0 0 12px;
    border-radius: 10px;

}



.return
{
    width: 5%;
    position: fixed;
    bottom: 0;
    background-color: black;
    margin: 15px;
    border-radius: 100%;
    border: 2px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 400ms;
}
.return a
{
    text-align: center;
    padding: 14px;
    width: 100%;
    color: white;
    font-size: 40px;
    text-decoration: none;
    transition-duration: 400ms;

}
.return a:hover
{
    color: blue;
    text-shadow: blue 0 0 12px;
    
}
.return:hover
{
    box-shadow: blue 0 0 12px;
    border-radius: 10px;
}

.loading
{
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HeroTitleFont;
    color: blue;
    font-size: 48px;
}
.loadingHide
{
    opacity: 0;
    transition-duration: 1000ms;
    transition-delay: 1000ms;
}
.loadingDelete
{
    display: none;  
}

